.signin-nav-header {
  margin-bottom: 5rem;
}
section.before-panel {
  height: 260px;
}
section.before-panel img {
  position: absolute;
  right: 0;
  top: 20%;
}
.spin-city {
  -webkit-animation: fa-spin s infinite linear;
  animation: fa-spin 25s infinite linear;
  z-index: 1;
  width: 70%;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.signin-breadcrumb {
  color: #fff;
  display: block;
  padding: 2.5rem;
  text-align: left;
  font-weight: 800;
  margin-left: 18%;
  font-size: 1.4rem;
}
.signin-panel {
  background-color: #f8f8f8;
  width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  /* padding:2rem; */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.signin-panel-button {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #ddd;
  margin: 0 0 1rem 0;
}
.signin-panel-button .sign-in {
  padding: 1rem;
  display: block;
  flex-basis: 50%;
  border-radius: 10px 0 0 0;
  font-size: 85%;
  text-align: center;
}
.signin-panel-button .sign-in:first-child {
  border-right: 1px solid #ddd;
}
.signin-panel-button .sign-in:hover,
.signin-panel-button .sign-in:focus {
  background: #ddd;
  z-index: 3;
}

.form-field a,
p {
  font-size: 80%;
}
.signin-form-body label {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  color: #000;
  position: relative;
}
.icon {
  /*border:1px solid red;*/
  position: absolute;
  top: 0;
  left: 24%;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1rem;
}
.signin-form-body .input {
  padding: 0.6rem;
  outline: none;
  width: 60%;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  background: #ddd;
  text-indent: 2.6rem;
  font-size: 0.7rem;
  font-weight: 800;
}
/* .signin-form-body label::before{
content:"\f002";
font-family:"FontAwesome";
color:red;
} */

.signin-form-footer {
  color: #000;
  text-align: center;
}
.signin-footer-button {
  padding: 0.4rem;
  background: #bf8c09;
  background: radial-gradient(
      60.96% 233.66% at 19.41% -27.87%,
      #0f8cff 0%,
      #7c3394 51.04%,
      #4a058a 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  color: white;
  border-radius: 5px;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  width: 100px;
  text-align: center;
}
a.create-text-action {
  display: block;
  font-size: 68%;
  text-align: center;
  padding: 1rem 0 2rem 0;
}
.signin-line-div {
  height: 100px;
}

@media (min-width: 410px) {
  .signin-breadcrumb {
    /* margin-left:80px; */
  }
  .signin-panel {
    width: 50%;
    margin: 0 auto;
    /* padding:2rem; */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Desktop device */
@media (min-width: 810px) {
  .signin-nav-header {
    margin-bottom: 8rem;
  }
  .signin-breadcrumb {
    margin-left: 23%;
  }
  .signin-form-footer {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14%;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .on-it {
    height: 100px;
  }
}
