.contact-login {
  height: 300px;
}
.middle-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  padding: 10px;
  text-align: center;
}
.middle-text p {
  width: 85%;
  color: #9e9e9e;

  font-size: 20px;
}
.login-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.box-model {
  border: 2px solid black;
  width: 250px;
  padding: 10px;
  border-radius: 60%;
  border: none;
}
.box-model .icon {
  text-align: center;
  color: #949494;
  margin: 10px;
}
.box-model .border{
   border-left: 2px solid #949494;
   border-right: 2px solid #949494;
    
}
.box-model .icon .fa {
  font-size: 45px;
}
.box-model .icon img {
  width: 43px;
}
.box-model .call-icon .fa {
  font-size: 20px;
  margin: 10px;
  color: #949494;
}
.box-model .call-icon input,
.box-model .ico textarea {
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin: 5px;
}
.box-model .ico {
  text-align: center;
}
.box-model button {
  background: #7c3394;
  border: 2px solid #7c3394;
  color: white;
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 17px;
}
/* {
    padding: 5px;
    border
} */
@media (max-width:1029px) {
  /* .contact-login{
    height: 600px;
  } */
  .middle-text{
    margin-top: 500px;
  }
  .box-model .border{
    border: none;
     
 }

}
@media (max-width:800px) {
  .middle-text{
    margin-top: 500px;
  }
}
@media (max-width:600px) {
  .middle-text p{
    font-size: 3vw;
  }
}